template/.godot/editor/editor_layout.cfg
template/.godot/editor/filesystem_cache10
template/.godot/editor/filesystem_update4
template/.godot/editor/script_editor_cache.cfg
template/.godot/uid_cache.bin
template/.godot/editor/editor_layout.cfg
template/.godot/editor/filesystem_cache10
template/.godot/editor/project_metadata.cfg
template/.godot/editor/script_editor_cache.cfg
template/.godot/global_script_class_cache.cfg
template/.godot/editor/editor_layout.cfg
template/.godot/editor/filesystem_cache10
template/.godot/editor/script_editor_cache.cfg
template/.godot/uid_cache.bin
*.cfg
template/.godot/editor/editor_layout.cfg
template/.godot/editor/filesystem_cache10
template/.godot/editor/script_editor_cache.cfg
template/.godot/global_script_class_cache.cfg
template/.godot/imported/sm_dice.glb-4fd0b854b8ac1d76c5017507518aaaf6.md5
template/.godot/scene_groups_cache.cfg
template/.godot/uid_cache.bin
template/Assets/Meshes/sm_dice.glb.import
template/Assets/Meshes/sm_dice_tex_dice6.png.import
template/Assets/Meshes/tex_dice_6s.png.import
template/Assets/Sprites/Object/icon.svg.import

